<!DOCTYPE html>
<html>
    <head>
      <title>about</title>  
     <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="man-content">
            {{>header}}
            <p>This site was created by Samuel Terefe. It uses data from mapbox.com and darksky.net</p>
            <img  src="./img/sam.jpg" class="portrait" alt="">

        </div>


         {{>footer}}
    </body>
</html>